.my-header-image
{
	width: 100%;
	height: auto;
}

.container
{
	margin:0;
	text-align: center;
}

.content 
{
	font-size: 80%;
	float:left;
	width:50%;
	overflow:hidden;
	display:none;
}

.beacon-list
{
	float:left;
	width:50%;
	overflow:hidden;
	text-align: left;
	font-size: 40%;
}