.my-header-image
{
	width: 100%;
	height: auto;
}

.container
{
	margin:0;
	text-align: center;
	font-size: 80%;
}

.content 
{
	display:none;
}

.eddystone
{
	float:left;
	width: 50%;
}

.ibeacon
{
	width:50%;
	float:right;
}

.beacon-list
{
	text-align: left;
	font-size: 40%;
}